<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - CS346 Project</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/loginValidation.js" defer></script>
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <a href="/" class="logo">Lambs Cafe and Bakery</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/recipe/today">Recipe Of The Day</a></li>
          <% if (user) { %>
            <li>
              <form action="/users/logout" method="POST" style="display: inline;">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn-link">Logout</button>
              </form>
            </li>
          <% } else { %>
            <li><a href="/users/login">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <section class="hero">
      <h1>Login</h1>
      
    </section>
    <div class="login">
      <form class="login-form" action="/users/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required="email">
          <span id="email-error" class="error-message"></span>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required="password">
          <span id="password-error" class="error-message"></span>
        <button type="submit">Submit</button>
        </div>
        
      </form>
    </div>

    <div id="register-nav">
      <p>Don't have an account?</p>
      <a class="nutr-btn"href="/users/register">Register</a>
    </div>
  
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 Lambs Cafe and Bakery. All rights reserved.</p>
    </div>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>